@font-face {
font-family:"exodus";
src:url("https://washington-capitals.github.io/third-jersey/Exodus-Regular.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"exodus-sharp";
src:url("https://washington-capitals.github.io/third-jersey/ExodusDisplay-Sharpen.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}


@font-face {
    font-family:"exodus-bold";
    src:url("https://washington-capitals.github.io/third-jersey/Exodus-Bold.otf") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }

@font-face {
font-family:"exodus-sharp-bold";
src:url("https://washington-capitals.github.io/third-jersey/ExodusDisplay-SharpenBold.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"wsh-retro";
src:url("https://washington-capitals.github.io/third-jersey/WashingtonRR.ttf") format("truetype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"wsh-retro-web";
src:url("https://washington-capitals.github.io/third-jersey/WashingtonRR-web.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"charter";
src:url("https://washington-capitals.github.io/third-jersey/Charter.ttc") format("truetype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"shamgod-bold";
src:url("https://washington-capitals.github.io/third-jersey/Shamgod-Bold.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"aeternus-tall";
src:url("https://washington-capitals.github.io/third-jersey/Aeternus-Tall-Variable.ttf") format("truetype");
font-display:auto;font-style:normal;font-weight:600;
}


@font-face {
font-family:"wsh-edge";
src:url("https://washington-capitals.github.io/third-jersey/NHLEWas_.ttf") format("truetype");
font-display:auto;font-style:normal;font-weight:600;letter-spacing:-3px;
}
