@font-face {
font-family:"exodus";
src:url("https://washington-capitals.github.io/third-jersey/Exodus-Regular.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"exodus-sharp";
src:url("https://washington-capitals.github.io/third-jersey/ExodusDisplay-Sharpen.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}


@font-face {
    font-family:"exodus-bold";
    src:url("https://washington-capitals.github.io/third-jersey/Exodus-Bold.otf") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }

@font-face {
font-family:"exodus-sharp-bold";
src:url("https://washington-capitals.github.io/third-jersey/ExodusDisplay-SharpenBold.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"wsh-retro";
src:url("https://washington-capitals.github.io/third-jersey/washingtonrr.ttf") format("truetype");
font-display:auto;font-style:normal;font-weight:700;
}
